KOBO_USERNAME="***************"
KOBO_PASSWORD="***************"
SHAREPOINT_EMAIL="**************************"
SHAREPOINT_PASS="************************"
SHAREPOINT_SITE="********************"
SHAREPOINT_SITE_NAME="*******************"
SHAREPOINT_DOC="*******************"
SHAREPOINT_PROJECT_DOC="*************"
CLIENT_ID="***********************"
TENANT_ID="**********************************"
CLIENT_SECRET_VALUE="**************************************"
